# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Backups
*.bak

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Tools
.vim/
.idea/
Session.vim
docker-compose.override.yaml

# MacOS
.DS_Store

# Integration Tests

# Mosquitto
examples/mosquitto/*.pem
examples/mosquitto/*.key
examples/mosquitto/*.crt
examples/mosquitto/aws-bridge.conf

# Upparat
examples/upparat/config.ini
examples/upparat/tmp
examples/upparat/config/certs
