[service]
log_level = DEBUG
download_location = /tmp

[broker]
# https://docs.aws.amazon.com/general/latest/gr/iot-core.html
host = @BROKER@
port = 443

# AWS IoT Thingname
# https://docs.aws.amazon.com/iot/latest/developerguide/thing-registry.html
thing_name = @THINGNAME@
client_id = @THINGNAME@

# Client Certificate Authentication, see:
# https://docs.aws.amazon.com/iot/latest/developerguide/device-certs-create.html

# Client Certificate => --certificate-pem-outfile
certfile = /config/certfile

# Private Client Key => --private-key-outfile
keyfile = /config/keyfile

# Amazon Root CA certificate file
# https://docs.aws.amazon.com/iot/latest/developerguide/server-authentication.html#server-authentication-certs
cafile = /config/cafile

[hooks]
version = /hooks/version.sh
install = /hooks/install.sh
download = /hooks/download.sh
; ready =
; install =
; restart =
